.postDisplay {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  align-items: center;
  margin: 10px;
}

.postDisplay li {
  margin: 10px;
}

.postList h1 {
  font-size: 40px;
}
