.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Weather {
  width: 20%;
}
.news {
  border: solid blue;
  background-color: rgb(206, 180, 118);
  color: black;
  margin: 20px;
  font-size: 10px;
  padding: 10px;
  width: 80%;
}

.news a {
  font-size: 18px;
}
