.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Weather {
  width: 25%;
}
.news {
  border: solid blue 5px;
  border-style: double;
  background-color: rgb(206, 180, 118);
  color: black;
  margin: 20px;
  font-size: 10px;
  padding: 10px;
  width: 75%;
}

.news a {
  font-size: 18px;
}

@media (max-width: 1550px) {
  .Weather {
    width: 15%;
  }
  .news {
    margin: 5px;
    font-size: 7px;
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .Weather {
    width: 15%;
  }
  .news {
    margin: 5px;
    font-size: 4px;
    width: 70%;
  }
}
