.navbar a {
  color: white;
  font-size: 30px;
  margin: 25px;
}

.navbar {
  width: 15%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 950px;
  align-items: center;
}

.img {
  height: 250px;
  margin: 10px;
}
