.NewsSearch {
  background-color: blue;
  font-size: 30px;
}

.news {
  border: solid black;
  background-color: gray;
  color: black;
  margin: 10px;
  font-size: 15px;
  padding: 25px;
}

.news a {
  font-size: 25px;
  color: blue;
}

.news p {
  font-size: 25px;
}
