.NewsSearch {
  /* background-color: blue; */
  font-size: 30px;
  /* width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; 
  align-content: center; */
}

button {
  font-size: 20px;
  width: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  border: solid black;
  background-color: lightblue;
  color: black;
  margin: 20px;
  font-size: 15px;
  padding: 20px;
  width: 50%;
}

.news a {
  font-size: 16px;
  color: blue;
}

.news p {
  font-size: 16px;
}
