.User button {
  width: 200px;
  margin: 10px;
  height: 50px;
}
.User {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User ul {
  display: flex;
  flex-direction: column-reverse;
}
