.Post {
  border: solid rgb(67, 85, 226);
  border-radius: 20px;
  background-color: rgb(206, 180, 118);
  width: 900px;
  font-size: 24px;
  flex: 1;
}

.Post h1 {
  font-size: 30px;
}

.Post p {
  font-size: 20px;
}

.postTitle {
  display: flex;
  justify-content: space-around;
  color: rgb(12, 54, 223);
}

.btn {
  font-size: 20px;
  margin: 5px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  outline: none;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

a {
  color: rgb(12, 54, 223);
}

@media (max-width: 1350px) {
  .Post {
    width: 500px;
    font-size: 18px;
    flex: 1;
  }
  .Post h1 {
    font-size: 25px;
  }

  .Post p {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .Post {
    width: 200px;
    font-size: 8px;
    flex: 1;
  }

  .likes {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10px; */
    margin: 2px;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    outline: none;
  }

  .Post h1 {
    font-size: 10px;
  }

  .Post p {
    font-size: 10px;
  }
}
