.Post {
  border: solid black;
  background-color: gray;
  width: 800px;
  font-size: 20px;
}

button {
  height: 60px;
  width: 90px;
  font-size: 15px;
  margin: 10px;
}

a {
  color: rgb(12, 54, 223);
}
