.App {
  text-align: center;
  background-color: rgb(179, 144, 78);
  color: white;
  /* height: 100vh; */
}

.Display {
  display: flex;
  justify-content: center;
}

input {
  margin: 10px;
  height: 50px;
  font-size: 20px;
}

.logopic {
  /* height: 300px; */
  width: 400px;
}

.navbar a {
  color: white;
  font-size: 30px;
  margin: 10px;
}

.navbar {
  width: 10%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 900px;
  align-items: center;
}

.main {
  width: 80%;
}
