.App {
  text-align: center;
  background-color: rgb(179, 144, 78);
  color: white;
  /* height: 100vh; */
}

.Display {
  display: flex;
  justify-content: center;
}

input {
  margin: 10px;
  height: 50px;
  font-size: 20px;
}

.logopic {
  /* height: 300px; */
  /* width: 400px; */
}

.main {
  width: 80%;
  background-color: rgb(158, 130, 78);
}

@media (max-width: 1400px) {
  .logopic {
    width: 80%;
    height: 250px;
  }
}

@media (max-width: 1000px) {
  .logopic {
    width: 80%;
    height: 150px;
  }
  .main {
    width: 60%;
    background-color: rgb(158, 130, 78);
  }
}
